<!--ALL COMMENTS AND CODE BY JONATHAN SIVANANTHAN 19NOV-->


@{
    ViewData["Title"] = "TGJ Books";
}

<!--home page styling for the blocks-->
<style>
    .hero 
    {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 300px;
        background-image: url("https://images.dailyhive.com/20190925093636/montreal-bookstore.jpg");
    }

    .middle {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 300px;
        background-image: url("https://images.pexels.com/photos/1517355/pexels-photo-1517355.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
</style>


<div class="text-center">
    <h1 class="display-4">Welcome to TGJ Books</h1>
</div>





<section class="hero">
    <div style="padding:25px; min-height:auto;">

        <div id="clearLayer" style="background-color:rgba(0,0,0,0.5); padding:25px;">
            <h3>
                <span style="color:white;"> Head to the Shop to Browse Our Book Selection </span>
                <br />
                <br />
            </h3>

            <p style="color:white;">
                Thomas, Grifyn and Jonathan's Book Shop ASP.NET MVC Project.
                </br>
                </br>
                FullStack Semester 2 2022
            </p>
        </div><!--transparent div-->

    </div><!--outer div-->
</section>
</br>
<section class="middle"
        <div style="padding:25px; min-height:auto;">

        <div id="clearLayer" style="background-color:rgba(0,0,0,0.52); padding:25px;">
        <h3>
            <span style="color:white;"> Register to Add Favourite Books to Your Wishlist </span>
            <br/>
            <br />
        </h3>

        <p style="color:white;">
            Sign Up to save your favourite books to a wishlist
            </br>
            </br>
            *This is a student project
        </p>
        </div><!--transparent div-->

    </div><!--outer div-->
</section>